<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/piano.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
    <script src="/piano.js" defer></script>
    <title>My Piano</title>
</head>
<body>

    <div class="button">
        <button class="record-button btn "><u>Record</u></button>
        <button class="play-button btn"><u>Play</u></button>
        <button class="save-button btn"><u>Save</u></button>
    </div>
    <a href="#" class="btn song-link">View Song</a>
    <div  class="MyPiano">
    <div data-note="key01" class="key white">K1</div>
    <div data-note="key02" class="key black">K2</div>
    <div data-note="key03" class="key white">K3</div>
    <div data-note="key04" class="key black">K4</div>
    <div data-note="key05" class="key white">K5</div>
    <div data-note="key06" class="key black">K6</div>
    <div data-note="key07" class="key white">K7</div>
    <div data-note="key08" class="key black">K8</div>
    <div data-note="key09" class="key white">K9</div>
    <div data-note="key10" class="key white">K10</div>
    <div data-note="key11" class="key black">K11</div>
    <div data-note="key12" class="key white">K12</div>
    <div data-note="key13" class="key black">K13</div>
    <div data-note="key14" class="key white">K14</div>
    <div data-note="key15" class="key black">K15</div>
    <div data-note="key16" class="key white">K16</div>
    <div data-note="key17" class="key black">K17</div>
    <div data-note="key18" class="key white">K18</div>
    <div data-note="key19" class="key black">K19</div>
    <div data-note="key20" class="key white">K20</div>
    <div data-note="key21" class="key black">K21</div>
    <div data-note="key22" class="key white">K22</div>
    <div data-note="key23" class="key black">K23</div>
    <div data-note="key24" class="key white">K24</div>
</div>

    <audio id="key01" src="/notes/key01.mp3"></audio>
    <audio id="key02" src="/notes/key02.mp3"></audio>
    <audio id="key03" src="/notes/key03.mp3"></audio>
    <audio id="key04" src="/notes/key04.mp3"></audio>
    <audio id="key05" src="/notes/key05.mp3"></audio>
    <audio id="key06" src="/notes/key06.mp3"></audio>
    <audio id="key07" src="/notes/key07.mp3"></audio>
    <audio id="key08" src="/notes/key08.mp3"></audio>
    <audio id="key09" src="/notes/key09.mp3"></audio>
    <audio id="key10" src="/notes/key10.mp3"></audio>
    <audio id="key11" src="/notes/key11.mp3"></audio>
    <audio id="key12" src="/notes/key12.mp3"></audio>
    <audio id="key13" src="/notes/key13.mp3"></audio>
    <audio id="key14" src="/notes/key14.mp3"></audio>
    <audio id="key15" src="/notes/key15.mp3"></audio>
    <audio id="key16" src="/notes/key16.mp3"></audio>
    <audio id="key17" src="/notes/key17.mp3"></audio>
    <audio id="key18" src="/notes/key18.mp3"></audio>
    <audio id="key19" src="/notes/key19.mp3"></audio>
    <audio id="key20" src="/notes/key20.mp3"></audio>
    <audio id="key21" src="/notes/key21.mp3"></audio>
    <audio id="key22" src="/notes/key22.mp3"></audio>
    <audio id="key23" src="/notes/key23.mp3"></audio>
    <audio id="key24" src="/notes/key24.mp3"></audio>

</body>
</html>
